/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Resetting Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    background-color: #e9e9e9;
    font-family: "Josefin Sans", serif;
    font-style: normal;
}

/* Styling for Headings */
h1,
h2 {
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
}

/* Header Section Styling */
header {
    max-width: 64rem;
    margin: 0 auto;
    padding: 50px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Main Content Container */
.main-container {
    max-width: 64rem;
    margin: 0 auto;
    background-color: white;
}

/* Navigation and Header Elements */
.header-box {
    display: flex;
    justify-content: space-between;
}

/* Section Content Styling */
.section-tapes {
    margin: 0 50px 50px 50px;
    padding-top: 50px;
}

.sectionn-p-1 {
    margin-bottom: 50px;
}

/* Typography Adjustments */
h1 {
    font-size: 3rem;
}

.h2-heading {
    margin-bottom: 1rem;
    font-size: 3rem;
}

/* Multi-Column Text Layout */
#paragraphs {
    column-count: 3;
    column-gap: 50px;
}

/* Logo Styling */
.logo-header {
    text-align: center;
}

.logo-header img {
    width: 12.5rem;
}

/* Paragraph and Heading Spacing in Text Sections */
#paragraphs h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

#paragraphs p {
    margin-bottom: 50px;
}

/* Image Section Layout */
.image-div {
    display: flex;
}

.right {
    flex-basis: 50%;
}

.Image-bigg {
    flex-basis: 50%;
}

.Image-bigg img {
    width: 100%;
    height: 100%;
}

/* Author Section Styling */
.auth-box {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    column-gap: 50px;
    align-items: center;
}

.author-txxt {
    flex-basis: 70%;
}

.author-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.author-pic {
    border-radius: 50%;
    flex-basis: 30%;
    width: 12.5rem;
}

/* Grid Layout for Images */
.image-div-grid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.image-div-grid img {
    width: 100%;
    height: 100%;
}

/* Footer Styling */
footer {
    background-color: #14181d;
    color: white;
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 720px) and (max-width: 1024px) {
    /* Adjust Logo and Author Section for Tablets */
    .logo-header img {
        width: 50px;
    }

    .author-picture-flex {
        padding: 30px 30px;
        column-gap: 30px;
    }

    /* Adjust Columns for Smaller Screens */
    #paragraphs {
        column-count: 1;
        text-align: left;
    }

    #paragraphs h2,
    h1,
    .h2-heading {
        display: flex;
        justify-content: center;
    }

    .Image-bigg img {
        display: none;
    }

    .image-div {
        flex-direction: column;
    }

    .right {
        flex-basis: 100%;
    }

    footer {
        padding: 30px;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
    /* Adjust Styles for Small Tablets */
    .logo-header img {
        width: 5rem;
    }

    .image-div {
        flex-direction: column;
    }

    .image-div-grid {
        grid-template-rows: 25%;
        grid-template-columns: 1fr;
    }

    .Image-bigg img {
        display: none;
    }

    .auth-box {
        flex-direction: column-reverse;
    }

    footer {
        padding: 20px;
    }
}

@media screen and (min-width: 360px) and (max-width: 540px) {
    /* Adjust Layout for Mobile Phones */
    .logo-header img {
        width: 5rem;
    }

    #paragraphs {
        column-count: 1;
        text-align: left;
    }

    .Image-bigg img {
        display: none;
    }

    .image-div-grid {
        grid-template-rows: 25%;
        grid-template-columns: 1fr;
    }

    .auth-box {
        flex-direction: column-reverse;
    }

    footer {
        padding: 12px;
    }
}